body {
	background-image: url("images/table.jpg");
  padding-left: 158px;
}

.cardback {
	background-image: url("images/card.jpg");
	background-size: 100%;
}

.control {
  margin-top: 48px;
  text-align: center;
}

.opponent.row {
  margin-top: -68px;
}

.card-content {
  position: relative;
}

.stock-card-title {
  position: absolute;
  top: 0;
}

.stock-name {
  position: absolute;
  top: 32px;
}

.stock-industry {
  position: absolute;
  top: 110px;
}

.stock-price {
  position: absolute;
  top: 133px;
}

.play.row .stock-industry {
  top: 94px;
}

.play.row .stock-price {
  top: 112px;
}
